<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>friend</key>
	<dict>
		<key>age</key>
		<string>18</string>
		<key>name</key>
		<string>sunluwei</string>
	</dict>
	<key>isVIP</key>
	<false/>
	<key>friends</key>
	<array>
		<dict>
			<key>icon</key>
			<string>001.png</string>
			<key>intro</key>
			<string>我的好友好友-0的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-0</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>005.png</string>
			<key>intro</key>
			<string>我的好友好友-1的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-1</string>
			<key>vip</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>006.png</string>
			<key>intro</key>
			<string>我的好友好友-2的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-2</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>003.png</string>
			<key>intro</key>
			<string>我的好友好友-3的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-3</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>008.png</string>
			<key>intro</key>
			<string>我的好友好友-4的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-4</string>
			<key>vip</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>005.png</string>
			<key>intro</key>
			<string>我的好友好友-5的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-5</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>008.png</string>
			<key>intro</key>
			<string>我的好友好友-6的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-6</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>006.png</string>
			<key>intro</key>
			<string>我的好友好友-7的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-7</string>
			<key>vip</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>008.png</string>
			<key>intro</key>
			<string>我的好友好友-8的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-8</string>
			<key>vip</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>icon</key>
			<string>006.png</string>
			<key>intro</key>
			<string>我的好友好友-9的个性签名就是这么拽</string>
			<key>name</key>
			<string>我的好友好友-9</string>
			<key>vip</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>name</key>
	<string>我的好友</string>
	<key>online</key>
	<integer>3</integer>
</dict>
</plist>
